<div class="main-container">

    <div class="logo-component">
        <!--<img class="ghost-img" src="assets/img/ghostcam-logo.png">-->
        <!--<h2 class="ghost-title">Cam</h2>-->
        <!--<div class="opacity-container">-->
            <!--<div class="camera-container">-->
                    <!--<img style="height: 123px;-->
    <!--width: 856px;-->
    <!--left: -397px;-->
    <!--position: absolute;" src="http://res.cloudinary.com/drvsa2doz/image/upload/v1464787909/top_kh1j57.png" class="top" height="45px">-->
                <!--<div class="circle">-->
                    <!--<div class="camera-eye">-->
                        <!--<div class="inner-eye">-->
                            <!--<div class="blinking"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="opacity-container">-->
            <!--<img id="cctv" src="assets/img/cctv.png">-->
        <!--</div>-->


        <div class="opacity-container">

            <div class="opacityfade"><div class="clouds"></div></div>


            <img id="frsecurity-logo" src="assets/img/frsecurity.png">

            <img id="rock1" src="assets/img/rocks/rock1.png"/>
            <img id="rock2" src="assets/img/rocks/rock2.png"/>
            <img id="rock3" src="assets/img/rocks/rock3.png"/>
            <img id="rock4" src="assets/img/rocks/rock4.png"/>
            <img id="rock5" src="assets/img/rocks/rock5.png"/>
            <img id="rock6" src="assets/img/rocks/rock6.png"/>
            <img id="rock7" src="assets/img/rocks/rock7.png"/>
            <img id="rock8" src="assets/img/rocks/rock8.png"/>

            <div id="light-container">

            <img id="island" src="assets/img/rocks/island.png"/>
            <!--ROCKS-->


                    <div class="Lighthouse">
                        <div class="relbox">
                            <div class="head"></div>
                            <div class="headMini"></div>
                            <div class="light"></div>
                            <div class="rayLeft"></div>
                            <div class="rayRight"></div>
                            <div class="row"></div>
                            <div class="rect"></div>
                            <div class="preTube"></div>
                            <div class="tube"></div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
</div>
