<div class="recent-container">
    <div id="recent-segment" class="ui raised segment">


        <div class="row">
            <div class="col-md-6"><button (click)="addClarifai()" class="btn btn-default btn-block">Add</button></div>
            <div class="col-md-6"><button (click)="searchClarifai()" class="btn btn-info btn-block">Search</button></div><br/>
            <div class="col-md-6"><button (click)="trainClarifai()" class="btn btn-danger btn-block">Train</button></div><br/>
            <div class="col-md-6"><button (click)="modelClarifai()" class="btn btn-success btn-block">Create Model</button></div><br/>
            <div class="col-md-6"><button (click)="predictClarifai()" class="btn btn-success btn-block">Predict Model</button></div><br/>
        </div>

    </div>
</div>
