<div class="face-container">


    <div class="title-area">
        <h1>Your People</h1>
        <hr>
        <button id="addButton" class="btn btn-success btn-log">Add</button>
        <button class="btn btn-danger btn-log">Delete</button>
    </div>

    <div class="row">
        <div class="col-md-3">
        <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
                </div>
                <div class="content">
                    <a class="header">Team Fu</a>
                    <div class="meta">
                        <span class="date">Create in Sep 2014</span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="users icon"></i>
                        2 Members
                    </a>
                </div>
            </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
                </div>
                <div class="content">
                    <a class="header">Team Fu</a>
                    <div class="meta">
                        <span class="date">Create in Sep 2014</span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="users icon"></i>
                        2 Members
                    </a>
                </div>
            </div>
                </div>
        </div>


        <div class="col-md-3">
            <div class="ui special cards">
            <div class="card">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <div class="ui inverted button">Add Friend</div>
                            </div>
                        </div>
                    </div>
                    <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
                </div>
                <div class="content">
                    <a class="header">Team Fu</a>
                    <div class="meta">
                        <span class="date">Create in Sep 2014</span>
                    </div>
                </div>
                <div class="extra content">
                    <a>
                        <i class="users icon"></i>
                        2 Members
                    </a>
                </div>
            </div>
        </div>
            </div>


        <div class="col-md-3">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Add Friend</div>
                                </div>
                            </div>
                        </div>
                        <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Add Friend</div>
                                </div>
                            </div>
                        </div>
                        <img src="http://semantic-ui.com/images/avatar2/large/elyse.png">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
