.main-container{
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
}

.logo-component{
    position: absolute;
    /*color: white;*/
}

.ghost-img{
    width: 35%;
    left: 150%;
    position: relative;
}

.ghost-title{
    font-family: 'Chewy', cursive !important;
    letter-spacing: 3px;
    font-size: 70px;
    position: absolute;
    left: 185%;
    top: 28%;
}

#video-segment{
    height: 400px;
    width: 30%;
    left: 35%;
    box-shadow: 10px 10px 5px -6px rgba(23,170,28,1) !important;
}

#saved_photos{
    height: 200px;
}

#video{
    left: 9%;
    top: 7%;
}
#canvas{
    left: 9%;
    top: 7%;
}

#saved_photos{
    height: 200px;
    top: 33%;
    width: 250%;
    left: -68%;
    box-shadow: 10px 10px 5px -6px rgba(23,170,28,1) !important;
}

.video-holder{
    position: absolute;
    margin-top: 75px;

}

.img-place{
    padding-left: 12px;
    height: 150px;
    width: 210px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.74);
}
