.main-container{
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
}

.logo-component{
    position: absolute;
    /*color: white;*/
}

#divider{
    position: absolute;
    top: -23%;
    width: 250%;
    left: -405px;
    color: #17AA1C;
    font-size: 26px;
}

#steps-stack{
    top: 81px;
    position: relative;
    width: 1200px;
    left: -305px;
}
.ghost-img{
    width: 35%;
    left: 150%;
    position: relative;
}

.ghost-title{
    font-family: 'Chewy', cursive !important;
    letter-spacing: 3px;
    font-size: 70px;
    position: absolute;
    left: 185%;
    top: 28%;
}

#video-segment{
    height: 400px;
    width: 30%;
    left: 35%;
    /*box-shadow: 10px 10px 5px -6px rgba(23,170,28,1) !important;*/
    box-shadow: 1px 7px 25px 0px rgba(0,0,0,1);
}

#saved_photos{
    height: 200px;
}

#video{
    left: 9%;
    top: 7%;
}


#switches{
    position: absolute;
    height: 395px;
    top: -2%;
    width: 250px;
    /*box-shadow: 10px 10px 5px -6px rgba(23,170,28,1) !important;*/
    box-shadow: 1px 7px 25px 0px rgba(0,0,0,1);
    left: -55%;
}

#canvas{
    left: 9%;
    top: 7%;
}

#possible-guesses{
    position: absolute;
    top: -2%;
    height: 392px;
    left: 110%;
    /*box-shadow: 10px 10px 5px -6px rgba(23,170,28,1) !important;*/
    box-shadow: 1px 7px 25px 0px rgba(0,0,0,1);
}

#saved_photos{
    height: 200px;
    top: 33%;
    width: 250%;
    left: -68%;
    /*box-shadow: 10px 10px 5px -6px rgba(23,170,28,1) !important;*/
    box-shadow: 1px 7px 25px 0px rgba(0,0,0,1);
}

.video-holder{
    position: absolute;
    margin-top: 112px;

}

.img-place{
    padding-left: 12px;
    height: 150px;
    width: 210px;
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.74);
}
