<audio id='audio' src="http://soundbible.com/mp3/Siren_Noise-KevanGC-1337458893.mp3" loop></audio>
<audio id='success' src="assets/sounds/success.mp3"></audio>

<div class='bidbye'>
    GOT YA'
    <button (click)="StopAlarm()" class="btn btn-info">Stop Alarm</button>
</div>

<div class="main-container">


    <!--<button (click)="snapPicture()" class="btn btn-info btn-lg" style="z-index: 5000; position: absolute;top:50%">Hey</button>-->

    <!--<div id="my_result"></div>-->


    <div class="video-holder" style="width: 100%;">

        <style>
            video, canvas {
                position: absolute;
            }
        </style>



        <div id="video-segment" class="ui raised segment">

        <div class="demo-frame" style="height: 100%;width: 100%;">
            <div class="demo-container" style="height: 100%;width: 100%;">
                <video id="video" width="448" height="336" preload autoplay loop muted></video>
                <!--<video id="video" width="320 height="240"></video>-->
                <canvas id="canvas" width="448" height="336"></canvas>
            </div>
        </div>


            <h4 class="ui horizontal divider header" id="divider">
                <i class="record icon"></i>
                Video
            </h4>

            <!--SWITCHES-->

            <div id="switches" class="ui card">
                <div class="content">
                    <i class="right floated like icon"></i>
                    <i class="right floated star icon"></i>
                    <div class="header"><div id="update-status" style="border-bottom: 2px solid black;">Status :</div></div>
                    <div class="description">
                        <button (click)="TurnOnButton()" class="btn btn-success btn-block">Turn On</button>
                        <button (click)="TurnOffButton()" class="btn btn-danger btn-block">Turn Off</button>
                        <button (click)="TurnOnReset()" class="btn btn-warning btn-block">Reset Predictions</button>
                        <button (click)="SoundAlarm()" class="btn btn-danger btn-block">Sound Alarm</button>
                        <button (click)="StopAlarm()" class="btn btn-warning btn-block">Stop Alarm</button>
                        <button (click)="SuccessAlarm()" class="btn btn-success btn-block">Success Alarm</button>
                        <button (click)="SendText()" class="btn btn-info btn-block">Send Text</button>


                    </div>
                </div>
                <div class="extra content">
    <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
                    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
                </div>
            </div>


            <!--<div id="switches" class="ui segments">-->
                <!--<div class="ui segment">-->
                    <!--<p>Status : <span style="color: #17AA1C;font-weight: bolder">ON</span></p>-->
                <!--</div>-->
                <!--<div class="ui segment">-->

                    <!--<button style="margin-top: 70px;" class="btn btn-success btn-block">Turn On</button>-->
                    <!--<button class="btn btn-danger btn-block">Turn Off</button>-->
                    <!--<button class="btn btn-warning btn-block">Reset Predictions</button>-->

                <!--</div>-->
            <!--</div>-->



            <!--POSSIBLE GUSSSES-->
            <div id="possible-guesses" class="ui card">
                <div class="content">
                    <i class="right floated user icon"></i>
                    <div class="header" style="border-bottom: 2px solid black;text-align: center">Possible Gusses</div>
                    <div class="description">
                        <div *ngIf="predictingMode" class="ui active dimmer">
                            <div  class="ui massive text loader">Predicting...</div>
                        </div>

                        <div *ngIf="mainPredict">
                            <h1 style="text-align: center">{{mainPredict.name}}</h1>
                            <img src="{{mainPredict.picture}}" style="width:250px;height:250px">
                        </div>


                    </div>
                </div>
                <div class="extra content">
    <span class="left floated like">
      <i class="like icon"></i>
      Like
    </span>
                    <span class="right floated star">
      <i class="star icon"></i>
      Favorite
    </span>
                </div>
            </div>


            <!--<i style="color: #17AA1C" class="check circle outline icon"></i>-->

            <div class="ui tablet stackable steps" id="steps-stack">
                <div id="active-step1" class="active step">
                    <i id="icon1" class="camera icon"></i>
                    <div class="content">
                        <div class="title">Pictures</div>
                        <div class="description">Grab 6 webcam shots</div>
                    </div>
                </div>
                <div id="active-step2" class="step">
                    <i id="icon2" class="database icon"></i>
                    <div class="content">
                        <div class="title">Firebase</div>
                        <div class="description">Adding content into database</div>
                    </div>
                </div>
                <div id="active-step3" class="step">
                    <i id="icon3" class="student icon"></i>
                    <div class="content">
                        <div class="title">Clarifai Trainning</div>
                        <div class="description">We are now training the content</div>
                    </div>
                </div>
                <div id="active-step4" class="step">
                    <i id="icon4" class="calculator icon"></i>
                    <div class="content">
                        <div class="title">Clarifai Prediction</div>
                        <div class="description">Choosing the most similar</div>
                    </div>
                </div>
                <div id="active-step5" class="step">
                    <i id="icon5" class="shipping icon"></i>
                    <div class="content">
                        <div class="title">Prediction Delivered</div>
                        <div class="description">We have found your match</div>
                    </div>
                </div>
            </div>




            <div id="saved_photos" class="ui raised segment">
                <img id="img-place1" class="img-place" src="http://placehold.it/200x150">
                <img id="img-place2" class="img-place" src="http://placehold.it/200x150">
                <img id="img-place3" class="img-place" src="http://placehold.it/200x150">
                <img id="img-place4" class="img-place" src="http://placehold.it/200x150">
                <img id="img-place5" class="img-place" src="http://placehold.it/200x150">
                <img id="img-place6" class="img-place" src="http://placehold.it/200x150">
            </div>


    </div>


    </div>


</div>
