<div class="main-container">




    <div class="logo-component">
        <!--<img class="ghost-img" src="assets/img/ghostcam-logo.png">-->
        <!--<h2 class="ghost-title">Cam</h2>-->
        <div class="camera-container">
            <div class="circle">
                <img src="http://res.cloudinary.com/drvsa2doz/image/upload/v1464787909/top_kh1j57.png" class="top" height="45px">
                <div class="camera-eye">
                    <div class="inner-eye">
                        <div class="blinking"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button (click)="snapPicture()" class="btn btn-info btn-lg" style="z-index: 5000; position: absolute;top:50%">Hey</button>

    <div id="my_result"></div>


    <div class="video-holder" style="height: 100%;width: 100%;">

        <style>
            video, canvas {
                position: absolute;
            }
        </style>



        <div class="demo-frame" style="height: 100%;width: 100%;">
            <div class="demo-container" style="height: 100%;width: 100%;">
                <video id="video" width="320" height="240" preload autoplay loop muted></video>
                <canvas id="canvas" width="320" height="240"></canvas>
            </div>
        </div>


    </div>


</div>
